{% extends current_base %}{% load url from future %}{% load staticfiles sk %}

{% block content %}
<h3>Восстановление пароля</h3>
<form name="restore" method="POST" action="">{% csrf_token %}

  <label>
    Введите свой e-mail:
  </label>
  <input type="text" name="{{ form.email.html_name }}" value="{{ form.email.value|default:'' }}">
  {{ form.email.errors }}

  
  <label>Защитный код:</label>

  {{ form.captcha }}
  {{ form.captcha.errors }}

  <input type="hidden" value id="form_action" name="send_pass"/>

  <div >
    <a href="{% url 'profile:public:signin' %}">Авторизоваться</a><br/>
    <a href="{% url 'profile:public:signup' %}">Хочу зарегистрироваться!</a>
  </div>
  
  <span type="submit" onclick="document.restore.submit(); return true;">Отправить</span>

</form>

{% endblock content %}
