.error {
    color: red;
}

.thumbnails > li {
float: left;
margin-bottom: 0px;
margin-left: 0px;
}

.modal-backdrop {
    z-index: 10000;
 }

.modal {
    z-index: 10050;
}

.autocomplete-light-widget, .autocomplete-light-widget input, .autocomplete-light-widget input:focus {
    width: 100% !important;
}