.edit{
    position:absolute;
    left:auto;
    top:auto;
    width:22px;
    height:22px;
    line-height:22px;
    margin:1px 6px 1px -30px;
    background:url(../images/editicon.png) 0 0 no-repeat;
    cursor:pointer;
}