body {
font-size : 13px;
font-family : arial, helvetica;
height : 100%;
}
.clear {
clear : both;
}
a {
color : #21759b;
}
#main-left {
float : left;
position : relative;
width : 75%;
margin : 1em;
}
#main-right {
float : right;
position : relative;
width : 20%;
margin : 1em;
}
h2 {
display : block;
font-weight : bold;
font-size : 1.5em;
margin : 0.83em 0;
}
.half, .expert_form ul li {
width : 45% !important ;
}
.noborder, .noborder * {
border : 0;
}
.user tr {
vertical-align : top;
}
.user tr td {
padding-bottom : 10px;
}
.user tr td input[type="checkbox"] {
float : left;
top : -5px;
}
em {
font-style : oblique;
}
strong {
font-weight : bolder;
}
#bar {
width : 100%;
z-index : 100;
position : fixed;
background-color : #464646;
box-shadow : 0 5px 5px #969696;
height : 30px;
top : 0;
}
#navbar {
float : left;
width : 100%;
font-weight : bold;
margin-left : 10px;
margin-right : 5px;
}
#navbar li {
float : left;
margin-right : 10px;
position : relative;
display : block;
}
#navbar img {
vertical-align : middle;
}
#navbar li a {
display : block;
line-height : 2em;
color : #ccc;
text-decoration : none;
text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.25);
padding : 0 5px;
}
#navbar li a:hover {
background-color : #cecece;
color : #333;
}
#navbar li.last {
float : right;
}
#navbar ul {
position : absolute;
display : none;
opacity : 0;
min-width : 100%;
}
#navbar ul li {
float : none;
padding-top : 5px;
width : 100%;
}
#navbar ul a {
white-space : nowrap;
display : block;
color : #ccc;
}
#navbar li:hover ul {
display : block;
opacity : 1;
background : #464646;
}
#menubg {
position : fixed;
left : 0;
height : 100%;
width : 147px;
background-color : #ececec;
border-right : 1px solid #cecece;
min-height : 100%;
}
#mainwrap {
position : relative;
top : 15px;
}
#left-menu {
float : left;
width : 146px;
min-height : 100%;
border-left : 1px solid black;
position : relative;
}
#menu li {
display : block;
box-shadow : 0 0 5px #969696;
margin-bottom : 2px;
width : 100%;
height : 100%;
padding-bottom : 4px;
}
#menu li a {
display : block;
line-height : 1.2em;
vertical-align : middle;
padding-left : 5px;
color : #21759b;
text-decoration : none;
font-weight : bold;
padding-top : 5px;
width : 100%;
height : 100%;
}
#menu li:hover {
background-color : #e4e4e4;
box-shadow : none;
}
#menu li.active {
background-color : #757575;
color : white;
box-shadow : none;
}
#menu li.active a {
color : #fff;
}
#menu li ul {
display : none;
}
#menu li.active ul {
display : block;
margin-top : 5px;
}
#menu li.active ul li {
box-shadow : none;
background-color : #fff;
margin-bottom : -4px;
}
#menu li.active ul li a {
margin-left : 10px;
font-weight : normal;
color : #21759b;
}
#menu li.active ul li:hover {
box-shadow : none;
background-color : #e2faf2;
}
#menu li.active ul li:hover a {
color : #000;
}
#main {
position : relative;
margin-left : 160px;
margin-top : 20px;
margin-right : 50px;
padding-top : 20px;
}
table {
width : 100%;
}
.groupSelectAll:before, .groupUnSelectAll:before {
content : "â";
display : block;
}
.groupSelectAll, .groupUnSelectAll {
width : 100%;
display : block;
}
thead {
font-weight : bold;
text-align : center;
}
thead tr td.little {
width : 12px;
}
thead tr td.small {
width : 50px;
}
.list tr {
border-top : 1px solid #dfdfdf;
}
.list tr:hover {
background-color : #dfdfdf;
}
td {
padding : 0 5px;
}
td.right {
text-align : right;
}
.noborder {
border : 0;
}
.search-area {
width : 200px;
}
.expert_icone-stop {
background : url('../css/images/no.png') center no-repeat;
height : 20px;
width : 100%;
display : block;
}
.expert_icone-done {
background : url('../css/images/yes.png') center no-repeat;
height : 20px;
width : 100%;
display : block;
}
input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], .qq-upload-button {
border-radius : 3px;
border-width : 1px;
border-style : solid;
}
input[type="button"], input[type="submit"] {
border-color : #bbb;
color : #464646;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select, .selector, .qq-upload-button, span.delete {
border-color : #dfdfdf;
background-color : white;
color : #333;
width : 100%;
border : #dfdfdf solid 1px;
border-width : 1px;
border-radius : 4px;
padding : 3px 6px;
position : relative;
font : 16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
padding : 6px;
color : #999;
border : #d9d9d9 solid 1px;
outline : none;
display : inline-block;
position : relative;
z-index : 2;
box-shadow : 0 0 10px #eee inset;
border-radius : 3px;
box-sizing : border-box;
}
textarea, input, select {
margin : 1px;
padding : 3px;
}
input, select {
line-height : 15px;
}
#main-right .editor-box textarea {
background : #ffffff !important ;
cursor : auto;
}
#main-right textarea {
min-height : 200px;
text-align : justify;
}
.editor-box label, #media-editor .form-panel h3, .list thead, .ui-datepicker, .saved {
text-shadow : 0 1px 0 white;
color : #464646;
border-bottom-color : #dfdfdf;
text-shadow : 0 1px 0 white;
box-shadow : 0 1px 0 white;
font-size : 15px;
font-weight : normal;
padding : 7px 10px;
margin : 0;
line-height : 1;
display : block;
border-top-left-radius : 3px;
border-top-right-radius : 3px;
background-color : #f1f1f1;
margin-top : 1px;
border-bottom-width : 1px;
border-bottom-style : solid;
text-align : left;
}
.editor-box, #media-editor .form-panel, .list {
margin-bottom : 20px;
padding : 0;
border-width : 1px;
border-style : solid;
line-height : 1;
border-radius : 3px;
border-width : 1px;
border-style : solid;
background-color : whitesmoke;
border-color : #dfdfdf;
box-shadow : 0 1px 0 white inset;
border-radius : 3px;
}
.list {
text-align : center;
}
.not-label label {
background : none;
font-size : 13px;
color : #000;
border : 0;
display : inline;
box-shadow : none;
}
.list thead {
display : table-header-group;
text-align : center;
}
.list thead td {
height : 25px;
}
.selector span {
position : relative;
}
.selector {
text-align : center;
}
.selector select {
opacity : 0;
top : 0;
position : absolute;
display : block;
left : 0;
height : 100%;
}
#main-right .editor-box input[type="text"], #main-right .editor-box textarea {
background : #ffffff !important ;
cursor : auto;
}
.expert_filter input {
margin : 6px 0;
}
#media-editor {
width : 75%;
margin-left : 14px;
position : relative;
top : -220px;
}
#media-editor .form-panel {
text-align : left;
}
#media-editor .form-panel label {
display : inline;
position : relative;
padding : 0;
background : none;
}
#media-editor table, #media-editor tr, #media-editor td {
border : 0;
}
#media-editor td.preview {
width : 165px;
}
#media-editor td span.delete {
top : -9px;
}
#media-editor td span.delete:hover {
background : #fff;
}
.expert_form ul li:nth-child(even), .expert_form ul li:nth-last-child(3) {
float : right;
}
.expert_form ul li:nth-child(even):after {
clear : both;
}
.expert_form ul li:nth-child(2), .expert_form ul li:nth-child(1) {
height : 100px;
}
.expert_form ul li {
margin-bottom : 5px;
}
.expert_form ul li:nth-last-child(2) {
float : none;
}
.expert_col-left, .expert_col-right {
margin-bottom : 80px;
}
.expert_col-right.first-small li {
height : auto !important ;
}
.expert_col-right.first-small li:nth-last-child(2) {
float : left !important ;
}
select[multiple="multiple"] option {
height : auto;
z-index : 100;
}