recursive-include src/spicy/core/admin/locale *
recursive-include src/spicy/core/admin/static *
recursive-include src/spicy/core/admin/templates *
recursive-include src/spicy/core/profile/locale *
recursive-include src/spicy/core/profile/static *
recursive-include src/spicy/core/profile/templates *
recursive-include src/spicy/core/rmanager/locale *
recursive-include src/spicy/core/rmanager/static *
recursive-include src/spicy/core/rmanager/templates *
recursive-include src/spicy/core/service/locale *
recursive-include src/spicy/core/service/static *
recursive-include src/spicy/core/service/templates *
recursive-include src/spicy/core/simplepages/locale *
recursive-include src/spicy/core/simplepages/static *
recursive-include src/spicy/core/simplepages/templates *
recursive-include src/spicy/core/siteskin/locale *
recursive-include src/spicy/core/siteskin/static *
recursive-include src/spicy/core/siteskin/templates *
recursive-include src/spicy/core/trash/locale *
recursive-include src/spicy/core/trash/static *
recursive-include src/spicy/core/trash/templates *
