{% extends current_admin_base %}{% load spicy_admin i18n sk %}

{% block title %}{% trans "Create" %} {{ app.create.label }}{% endblock %}
{% block status_title %}<i class="icon-plus-sign-alt"></i> {{ app.create.label }}{% endblock status_title %}
{% block status_stats %}{% endblock status_stats %}

{% block extra_js %}{{ form.media }}{% endblock %}

{% block content %}
<div class="container-fluid hpadded">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="box-header">
          <span class="title">{{ app.create.label }}</span>
        </div>
	
        <div class="box-content">
          <form class="form-horizontal fill-up validatable" method="post" action="." autocomplete="off"
		enctype="multipart/form-data">{% csrf_token %}

	    {% include "spicy.core.simplepages/admin/component/create_form.html" %}

	    <div class="form-actions">
	      <button type="submit" class="btn btn-green pull-right">{% trans "Create" %}</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

