{% load url from future %}
{% if perms.simplepages %}
<li class="dark-nav{% if '/admin/simplepages/' in request.path %} active{% endif %}">
  <span class="glow"></span>
  <a class="accordion-toggle collapsed" data-toggle="collapse" href="#menu_{{ app.name }}">
    <i class="icon-sitemap icon-2x"></i>
    <span>{{ app.label }}
      <i class="icon-caret-down"></i>
    </span>
  </a>

  <ul id="menu_{{ app.name }}" class="collapse{% if '/admin/simplepages/' in request.path %} in{% endif %}">
    <li>
      <a href="{% url 'simplepages:admin:create' %}">
        <i class="icon-plus-sign-alt"></i> {% trans "Create simple page" %}
      </a>
    </li>

    <li>
      <a href="{% url 'simplepages:admin:index' %}">
        <i class="icon-list-alt"></i> {% trans "All simple pages" %}
      </a>
    </li>

    <li>
      <a href="{% url 'simplepages:admin:find' %}">
        <i class="icon-refresh"></i> {% trans "Update from templates" %}
      </a>
    </li>

  </ul>
</li>
{% endif %}
