{% load spicy_admin %}
<div class="row-fluid">
  <div class="span6">
    <ul class="padded separate-sections">
      {% formfield "" form "title" "li-text" %}
      {% formfield "" form "url" "li-text" %}
    </ul>
  </div>
  <div class="span6">
    <ul class="padded separate-sections">
      {% formfield "" form "enable_comments" "li-checkbox" %}
      {% formfield "" form "registration_required" "li-checkbox" %}
      {% formfield "" form "sites" "li-multiple-select" %}
    </ul>
  </div>      
</div>
{% if not form.instance.template_name %}
<div class="row-fluid">
  <ul class="padded separate-sections">
    {% formfield "" form "content" "li-editor" %}
  </ul>
</div>
{% endif %}
