{% load spicy_admin %}
{% formfield "" form "is_custom" "li-hidden" %}
<div class="row-fluid">
  <div class="span6">
    <ul class="padded separate-sections">
      {% formfield "" form "title" "li-text" %}
      {% formfield "" form "url" "li-text" %}
      {% if form.instance.is_custom %}
      {% formfield "" form "template_name" "li-hidden" %}
      {% else %}
      {% formfield "" form "template_name" "li-text" %}
      {% endif %}
      <button type="button" class="btn btn-blue custom">{% if form.instance.is_custom %}{% trans "Disable customization" %}{% else %}{% trans "Enable customization" %}{% endif %}</button>
    </ul>
  </div>
  <div class="span6">
    <ul class="padded separate-sections">
      {% formfield "" form "enable_comments" "li-checkbox" %}
      {% formfield "" form "registration_required" "li-checkbox" %}
      {% formfield "" form "sites" "li-multiple-select" %}
    </ul>
  </div>      
</div>
<div class="row-fluid">
  <ul class="padded separate-sections">
    {% if form.instance.is_custom %}
    {% formfield "" form "content" "li-textarea-large" %}
    {% else %}
    {% formfield "" form "content" "li-hidden" %}
    {% endif %}
  </ul>
</div>

