{% extends 'spicy.core.profile/mail/base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div style="font-size:16px">
	
<p>{% blocktrans with name=site.name %}Password reset for your account on {{ name }}.{% endblocktrans %}</p><br>

http://{{ site.domain }}/

<br><p>{% trans "New password has been generated:" %}</p><br>

<p>{% trans "Email" %}: {{ user.email }}</p><br>
<p>{% trans "User name" %}: {{ user.username }}</p><br>
<p>{% trans "Password" %}: {{ password }}</p><br>

<p>{% blocktrans with domain=site.domain|capfirst %}Thank you for being with us,
{{ domain }} team.{% endblocktrans %}</p><br>

</div>
{% endblock %}