{% extends 'spicy.core.profile/mail/base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div style="font-size:16px;">
<p>{% blocktrans with username=user.username %}{{ username }}, congratilations on your account's registration!{% endblocktrans %}</p><br>

<p>{% trans "Your account will be manually activated by our customers relations department." %}</p><br>

<p>{% trans "We're sure that you'll enjoy working with our system and client support specialists!" %}</p><br>

<p>{% blocktrans with email=user.email %}Your email: {{ email }},{% endblocktrans %}</p>
<p>{% trans "password" %}: {{ password }}</p><br>
</div>
{% endblock %}