{% extends 'spicy.core.profile/mail/base.html' %}
{% load url from future %}

{% block title %}{% endblock %}

{% block body %}
<div style="font-size:16px;">
<p>{% blocktrans with sitename=site.name %}Confirmation email for your account on {{ sitename }}{% endblocktrans %}</p><br>

<a href="http://{{ site.domain }}{% url 'profile:public:set_email' %}?email={{ email }}&hash={{ hash }}">http://{{ site.domain }}{% url 'profile:public:set_email' %}?email={{ email }}&hash={{ hash }}</a><br>

<p>{% trans "Email" %}: {{ email }}</p><br>
<p>{% trans "Username" %}: {{ user.username }}</p><br>

<p>{% trans "Thank you for being with us" %}</p><br>

</div>
{% endblock %}