{% extends current_admin_base %}
{% load spicy i18n navigator %}

{% block navigation_root %}
{% trans "Profiles" %}{% endblock %}
{% block navigation_place %}<p id="validationTips">{% trans "Create user profile" %}</p>{% endblock %}
{% block menu %}{% include "spicy.core.profile/admin/menu.html" %}{% endblock %}

{% block extra_js %}
{#<script type="text/javascript">#}
{#  $(function() {#}
{#   var field= $('usernamecontainer').select("input")[0];#}
{#   field.observe("blur",function(){#}
{#    url="/checkusername/";#}
{#        new Ajax.Request(url, {#}
{#            method: 'post',#}
{#            parameters: { username: $F(field) },#}
{#            onSuccess: function(transport) {#}
{#                if(transport.responseText.evalJSON().result=="ok")#}
{#                {#}
{#                    $('usernameerrors').update();#}
{#                }#}
{#                else#}
{#                {#}
{#                    $('usernameerrors').update('Занято');#}
{#                }#}
{#            } });#}
{#    });#}
{##}
{##}
{#});#}
{##}
{#</script>#}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span12">
                <div class="alert alert-block">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <h4>{% trans "Attention" %}!</h4>
                  {% trans "Password will be generated automaticaly if password fields are clean" %}.
                </div>
            </div>

            <div class="span6">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Forms</span>
                    </div>

                    <div class="box-content">
                        <form class="fill-up" method="post">{% csrf_token %}
                          <div class="form">
                            {% csrf_token %}
                            <div class="padded separate-sections">
                                {{ form.non_field_errors }}

                                {% for field in form.visible_fields %}
                                  {% with fieldtype=field.field|fieldtype inputtype=field.field.widget.input_type %}

                                    {{ fieldtype }} - {{ field.field.widget.input_type }}

                                      {# INPUT FIELDS #}
                                      {% if fieldtype in "RegexField EmailField CharField" %}
                                        <li class="input">
                                          <label for="{{ field.html_name }}">{{ field.label }}</label>
                                            {% if inputtype == "text" %}
                                            <input type="text" id="{{ field.html_name }}" name="{{ field.html_name }}">
                                            {% elif inputtype == "password" %}
                                            <input type="password" id="{{ field.html_name }}" name="{{ field.html_name }}">
                                            {% endif %}
                                          {% if field.errors %}
                                            <span class="help-block note">
                                              <i class="icon-warning-sign"></i>
                                              {% for error in field.errors %}
                                                {{ error }}
                                              {% endfor %}
                                          </span>
                                          {% endif %}
                                        </li>
                                      {% endif %}

                                      {# CHECKBOX FIELDS #}
                                      {% if fieldtype in "BooleanField" %}
                                        <div>
                                          <div class="icheckbox_flat-aero {% ifequal field.value True %}checked{% endifequal %}" style="position: relative;">
                                              <input type="checkbox" class="icheck" {% ifequal field.value True %}checked="checked"{% endifequal %} id="{{ field.html_name }}" name="{{ field.html_name }}" style="position: absolute; opacity: 0;">
                                              <ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                          </div>
                                          <label for="{{ field.html_name }}" class="">{{ field.label }}</label>
                                        </div>
                                      {% endif %}

                                  {% endwith %}
                                {% endfor %}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}


{#                              {{ form }}#}

{#                            {{ form.errors }}#}
{#                            <ul class="form-layout">#}
{##}
{#                              <li class="form-row clearfix" id="create-user-container">#}
{#                                <b>{{ form.username.label }}</b>#}
{#                                <div class="right-column">#}
{#                                {{ form.username.errors }}{{ form.username }}#}
{#                                {% if form.username.help_text %}<div>{{ form.username.help_text }}</div>{% endif %}#}
{#                                </div>#}
{#                                <span style="color:red; font-weight:bold" id="usernameerrors"></span>#}
{#                              </li>#}
{##}
{#                              {% formfield "" form "email" "li" %}#}
{##}
{#                              {% formfield "" form "password1" "li" %}#}
{#                              {% formfield "" form "password2" "li" %}#}
{##}
{#                              {% formfield "" form "first_name" "li" %}#}
{#                              {% formfield "" form "second_name" "li" %}#}
{#                              {% formfield "" form "last_name" "li" %}#}
{#                              {% formfield "" form "email_activation_key" "li" %}#}
{#                              {% formfield "" form "is_staff" "li" %}#}
{#                              {% formfield "" form "groups" "li" %}#}
{#                              {% formfield "" form "sites" "li" %}#}
{##}
{#                            </ul>#}
                          </div>
                          <div class="filter" >
                            <div class="right-button"><input type="submit" value="{% trans "Create" %}"/></div>
                            <div class="clr"> </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
{% endblock content %}
