{% extends current_admin_base %}
{% load spicy_admin sk %}
{% load url from future %}

{% block title %}{% trans "Profile" %}{% endblock %}
{% block status_title %}<i class="icon-user"></i> {{ instance.username }}{% endblock status_title %}
{% block status_subtitle %}{{ instance.fullname }}{% endblock status_subtitle %}
{% block status_stats %}
<a class="pull-right" href="{{ instance.get_absolute_url }}" target="_blank"><i class="icon-eye-open icon-2x"></i></a>
{% endblock status_stats %}

{% block content %}
<div class="container-fluid hpadded">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="box-header">
	  {% include "spicy.core.profile/admin/parts/edit_profile_tabs.html" %}
        </div>
	
        <div class="box-content">
	  {% url 'service:admin:media-edit' model instance.pk as media_url %}
	  {% generic_ssi media_url %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
