{% extends current_admin_base %}{% load navigator pagination spicy_admin %}

{% block title %}{% trans "All groups" %}{% endblock title %}
{% block status_title %}<i class="icon-cogs"></i> {% trans "All groups" %}{% endblock status_title %}

{% block content %}
<div class="container-fluid padded">
  <div class="row-fluid">
    <div class="span12">
      
      <div class="box">
        <div class="box-header">
          <span class="title">{% trans "All groups" %}</span>
        </div>

        <div class="box-content">
          <div class="table table-normal">
	    
            <form class="form-horizontal fill-up validatable" method="post" action="." autocomplete="off">
              {% csrf_token %}
              {{ group_formset.management_form }}
              <div class="row-fluid">
                <div class="padded">
                  {% for form in group_formset %}
		  
                  {{ form }}
                  <hr>
		  
                  {% endfor %}
		</div>
	      </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-blue">{% trans "Save changes" %}</button>
              </div>

	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

