{% extends current_admin_base %}{% load crispy_forms_tags i18n %}
{% block title %}{% trans "Login" %}{% endblock title %}
{% block top_navbar %}{% endblock top_navbar %}

{% block menu %}{% endblock menu %}

{% block content %}
<div class="span4 offset2">
  <div class="padded">
    <div class="login box" style="margin-top: 80px;">
	  
      <div class="box-header">
        <span class="title">{% trans 'Login' %}</span>
      </div>
      
      <div class="box-content padded">
        <form class="separate-sections" method="post">
          {% csrf_token %}{{ form|crispy }}
          <button type="submit" class="btn btn-blue">{% trans "Login" %}</button>
        </form>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}

