<ul>{{ page_obj.has_other_pages }}
  {% if page_obj.has_other_pages %}
    {% if style == 'default' %}
      {% if page_obj.has_previous %}
        <li class="previous_pages">
          <a href="{{ base_url }}page={{ page_obj.previous_page_number }}" rel="prev">{% trans "previous" %}</a>
        </li>
      {% endif %}

      {% if page_obj.has_next %}
        <li class="next_pages">
          <a href="{{ base_url }}page={{ page_obj.next_page_number }}" rel="next">{% trans "next" %}</a>
        </li>
      {% endif %}


      <li>
        {% for number in page_list %}
          {% if number == "." %}
            <span>&hellip;</span>
          {% else %}
          {% if number == page_obj.number %}
            <span>{{ number }}</span>
          {% else %}
            <a href="{{ base_url }}page={{ number }}" title="{% blocktrans with page_obj.number as page_num %}Page {{ page_num }}{% endblocktrans %}">{{ number }}</a>
          {% endif %}
          {% endif %}
        {% endfor %}
      </li>
    {% endif %}
  {% endif %}
</ul>
