{% load crispy_forms_field %}

{% if field.is_hidden %}
	{{ field }}
{% else %}
	<div id="div_{{ field.auto_id }}" class="control-group input{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
		{% if field.label and not field|is_checkbox %}
			<label for="{{ field.id_for_label }}" class="control-label black {% if field.field.required %}requiredField{% endif %}">
				{{ field.label|safe }}
                {% if field.field.required %}<span class="red">*</span>{% endif %}
			</label>
		{% endif %}

        {% if field|css_class == "checkboxselectmultiple" %}
            {% include 'spicy_form/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|css_class == "radioselect" %}
            {% include 'spicy_form/layout/radioselect.html' %}
        {% endif %}

        {% if field|css_class != "checkboxselectmultiple" and field|css_class != "radioselect" %}
            <div class="controls">
                {% if field|is_checkbox %}
                    <div>
                        <div class="icheckbox_flat-aero {{ inline_class }} {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %}checked{% endif %}" style="position: relative;">
                            <input type="checkbox" class="icheck" name="{{ field.name }}" id="{{ field.auto_id }}" {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %}checked="checked"{% endif %} style="position: absolute; opacity: 0;">
                        </div>
                        <label for="{{ field.id_for_label }}" class="">{{ field.label|safe }}</label>
                        {% include 'spicy_form/layout/help_text_and_errors.html' %}
                    </div>
                {% else %}
                    {% crispy_field field %}
                    {% include 'spicy_form/layout/help_text_and_errors.html' %}
                {% endif %}
            </div>
        {% endif %}
	</div>
{% endif %}
