{% extends current_admin_base %}
{% load navigator pagination %}

{% block extra_js %}
<script type="text/javascript">
var urlDeleteObjList="{% url profile:admin:delete-blacklisted-ips %}";
</script>
{% endblock %}
{% block navigation_root %}{% trans "Profiles" %}{% endblock %}
{% block navigation_place %}{% trans "Blacklisted IPs" %}{% endblock %}
{% block menu %}
    {% include "spicy.core.profile/admin/menu.html" %}
{% endblock %}

{% block content %}
{% if perms.extprofile.delete_blacklistedip %}
<div class="expert_filter">
    <div class="expert_search-area">
      <button onclick="deleteGroupObjects('blacklist',this);return(false);">{% trans "Delete" %}</button>
    </div>
    <div class="expert_clr"></div>
</div>
{% endif %}

<div class="expert_pager">
  {% pagination 'expert_page' 'expert_active'%}
  <div class="expert_clr"></div>
</div>
<ul class="expert_data-list" >
  <li class="expert_list-header">
    <div class="expert_first-col expert_col-icon-small">
      <span class="groupSelectAll expert_choose-all expert_button" title="{% trans "Select all" %}"><span></span></span>
    </div>
    <div class="expert_left-col">
      <a href="{% nav_order_url 'ip' nav %}" title="{% trans "IP address" %}">{% trans "IP address" %}</a>
    </div>
    <div class="expert_left-col">
      <a href="{% nav_order_url 'date_banned' nav %}" title="{% trans "Date banned" %}">{% trans "Date banned" %}</a>
    </div>
    <div class="">
      <a href="{% nav_order_url 'set_by' nav %}" title="{% trans "Set by" %}">{% trans "Set by" %}</a>
    </div>
    <div class="">
      <a href="{% nav_order_url 'set_for' nav %}" title="{% trans "Set for" %}">{% trans "Set for" %}</a>
    </div>
  </li>
{% for ip in objects_list %}
  <li>
    <div class="expert_first-col expert_col-icon-small">
      <input type="checkbox"  class="groupSelectCheckbox" id="groupSelect_blacklist_{{ ip.id }}" autocomplete="off" />
    </div>
    <div class="expert_first-col">
      {{ ip.ip }}
    </div>
    <div class="expert_left-col">
      {{ ip.date_banned }}
    </div>
    <div class="">
      <a href="{% url profile:admin:edit ip.set_by.pk %}">{{ ip.set_by }}</a>
    </div>
    <div class="">
      <a href="{% url profile:admin:edit ip.set_for.pk %}">{{ ip.set_for }}</a>
    </div>
  </li>
{% endfor %}
</ul>

<div class="expert_pager">
  {% pagination 'expert_page' 'expert_active'%}
  <div class="expert_clr"></div>
</div>
{% endblock %}
