{% extends current_admin_base %}
{% load crispy_forms_tags %}
{% load spicy i18n navigator %}

{% block title %}
  {% trans "Create user profile" %}
{% endblock %}

{% block content %}
  {# DASH TITLE #}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-edit"></i>
            {% trans "Create user group" %}
          </h3>
          {#              <h5>#}
          {#                A subtitle can be added here#}
          {#              </h5>#}
        </div>
      </div>
    </div>
  </div>

  {# WARNING #}
{#  <div class="container-fluid hpadded">#}
{#    <div class="row-fluid">#}
{#      <div class="alert-block alert">#}
{#        <button type="button" class="close" data-dismiss="alert">×</button>#}
{#        <h4>{% trans "Attention" %}!</h4>#}
{#        {% trans "Password will be generated automaticaly if password fields are clean" %}.#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

  {# FORM #}
  <div class="container-fluid hpadded">
    <div class="row-fluid">
      <div class="span12">
        <div class="box">
          <div class="box-header">
            <span class="title">{% trans "Create user group" %}</span>
          </div>

          <div class="box-content">
            <form class="fill-up validatable" method="post"
                  action="." autocomplete="off">
              {% csrf_token %}
              <div class="row-fluid">
                <div class="padded separate-sections">
                  <ul>
                    {% include "spicy.core.profile/admin/group_form.html" %}
                  </ul>

                  <div class="form-actions controls">
                    <button type="submit"
                            class="btn btn-blue">{% trans "Create" %}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}


{#{% extends current_admin_base %}{% load i18n navigator %}#}
{#{% block extra_js %}{{ form.media }}{% endblock %}#}
{#{% block navigation_root %}{% trans "Profiles" %}{% endblock %}#}
{#{% block navigation_place %}{% trans "Create users group" %}{% endblock %}#}
{#{% block menu %}{% include "spicy.core.profile/admin/menu.html" %}{% endblock %}#}
{#{% block content %}#}
{##}
{#<form method="POST">{% csrf_token %}#}
{#  <div class="expert_form"> #}
{#    <ul class="expert_form-layout">#}
{#      {% include "spicy.core.profile/admin/group_form.html" %}#}
{#    </ul>#}
{#  </div>#}
{#  <div class="expert_filter" >#}
{#    <div class="expert_right-button"><input type="submit" value="{% trans "Create" %}"/></div>#}
{#    <div class="expert_clr"> </div>#}
{#  </div>	#}
{#</form>	   #}
{#{% endblock %}#}
