{% extends current_admin_base %}
{% load crispy_forms_tags %}
{% load spicy i18n navigator %}

{% block title %}
  {% include "spicy.core.profile/admin/forms/block_title.html" %}
{% endblock %}

{% block content %}
  {# DASH TITLE #}
  <div class="sp-dash-title container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-edit"></i>
            {% include "spicy.core.profile/admin/forms/block_title.html" %}
          </h3>

          <h5>{% trans 'Profile' %}: <strong>{{ profile.username }}</strong>
          </h5>
        </div>
      </div>
    </div>
  </div>

  {# MESSAGE #}
  {% if message %}
    <div class="container-fluid hpadded">
      <div class="row-fluid">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>{{ message }}</strong>
        </div>
      </div>
    </div>
  {% endif %}

  {# FORM #}
  <div class="container-fluid hpadded">
    <div class="row-fluid">
      <div class="span12">
        <div class="box">
          <div class="box-header">
              <span class="title">
                  {% trans 'Edit profile' %}
              </span>
          </div>

          <div class="box-content">
            <form class="form-horizontal fill-up validatable" method="post"
                  action="." autocomplete="off">
              {% csrf_token %}
              <div class="row-fluid">
                <div class="padded separate-sections">
                  {{ form|crispy }}

                  {{ passwd_form|crispy }}
                  <div class="form-actions controls">
                    <button type="submit"
                            class="btn btn-blue">{% trans "Save" %}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}


{#{% block extra_js %}#}
{#{% if perms.extprofile.change_profile %}#}
{#<script type="text/javascript">#}
{#var responseText="e";#}
{#var noReload = true;#}
{#document.observe("dom:loaded", function() {#}
{##}
{#  $("passwd").observe("mousedown",function(e)#}
{#  {#}
{#    #}
{#    if(typeof $("passwd").dialog=="undefined")#}
{#      {#}
{#	$("passwd").dialog=new Expert.UI.window({#}
{#	element:$("passwd"),#}
{#	html:$("change_password"),#}
{#	title:'{% trans "Change password" %}',#}
{#	width:300,#}
{#	height:null,#}
{#	removeonclose:false,#}
{#	onclose:function(){#}
{#	      $("passwd_form").reset();#}
{#	      $$('.fix_this_field').each(function(e){e.removeClassName('fix_this_field');});}#}
{#      });#}
{#      $("change_password").remove();#}
{#      var aup = new Expert.UI.autopassword({#}
{#            element:$("id_password1"),#}
{#            secondElement:$("id_password2"),#}
{#            className:'chpassword',#}
{#            length:7               #}
{#            });#}
{#           // aup.gen();#}
{#      $("passwd").dialog.button('Сменить',function(){ Expert.sendform("passwd_form",$("passwd").dialog.win,function(t){#}
{#        try{#}
{#        t.evalJSON();#}
{#        if(typeof t.message == "string"){#}
{#            if(t.message != ""){#}
{#                Expert.UI.notify(t.message, {type:"ok"});#}
{#            }}}catch(e){}#}
{#        #}
{#      },noReload);},"ok_button");#}
{#      $("passwd").dialog.button('Отмена',function(){$("passwd").dialog.win.close();},"cancel_button");#}
{#      }#}
{#      else#}
{#      {#}
{#	$("passwd").dialog.win.show(true);#}
{#      }#}
{#    Event.stop(e);return(false);#}
{#  });#}
{##}
{##}
{#   var field= $('usernamecontainer').select("input")[0];#}
{#   field.observe("blur",function(){#}
{#    url="/checkusername/";#}
{#        new Ajax.Request(url, { #}
{#            method: 'post', #}
{#            parameters: { username: $F(field) },#}
{#            onSuccess: function(transport) {#}
{#                if(transport.responseText.evalJSON().result=="ok")#}
{#                {#}
{#                    $('usernameerrors').update();#}
{#                }#}
{#                else#}
{#                {#}
{#                    $('usernameerrors').update('Занято');#}
{#                }#}
{#            } });#}
{#    });#}
{##}
{#    errFunc = function(transport) {#}
{#        Expert.UI.notify(#}
{#            "{% trans "Error resending activation key" %}",#}
{#            {'type': 'error'})#}
{#    };#}
{#    $('resend_activation').observe('mousedown', function(e){#}
{#        new Ajax.Request(#}
{#            '{% url profile:admin:resend-activation profile.id %}', {#}
{#            onSuccess: function(transport) {#}
{#                if (!transport.responseText.isJSON()){#}
{#                    errFunc(transport);#}
{#                }#}
{#                else {#}
{#                    data = transport.responseText.evalJSON();#}
{#                    if (data.status == "ok"){#}
{#                        Expert.UI.notify(#}
{#                            "{% trans "Activation key resent" %}",#}
{#                            {'type': 'ok'});#}
{#                        $('resend_activation').hide();#}
{#                    }#}
{#                    else#}
{#                    {#}
{#                        Expert.UI.notify(data.message, {'type': 'error'});#}
{#                    };#}
{#                };#}
{#            },#}
{#            onFailure: errFunc#}
{#        });#}
{#    });#}
{#});#}
{##}
{#</script>#}
{#{% endif %}#}
{#{{ form.media }}#}
{#{% endblock %}#}
{#{% block navigation_root %}{% trans "Profiles" %}{% endblock %}#}
{#{% block navigation_place %}{{ profile.username }} / {{ profile.email }}{% endblock %}#}
{#{% block menu %}{% include "spicy.core.profile/admin/menu.html" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<a class="passwd" href="{{ profile.get_absolute_url }}" target="_blank" title="{% trans "view" %}" style="float:right">#}
{#  <img src="{{ MEDIA_URL }}img/admin/eye.png"/>#}
{#</a>#}
{##}
{#{% url shop:admin:index as shop_url %}#}
{#{% if shop_url and perms.shop %}#}
{#<div class="expert_filter1 expert_clearfix">#}
{#{% if perms.shop.add_order %}#}
{#  <a target="_blank" href="{% url shop:admin:create_order %}?profile={{ form.instance.pk }}" class="expert_add-link">{% trans "Add order" %}</a>#}
{#{% endif %}#}
{#<div>#}
{#  <a target="_blank" href="{{ shoup_url }}?profile={{ form.instance.pk }}">{% trans "User's orders" %}</a></div>#}
{#</div>#}
{#{% endif %}#}
{##}
{##}
{#{% if perms.extprofile.change_profile %}#}
{#<div id="change_password" title="{% trans "Change password" %}">#}
{#  <p style="margin-left:15px">{% trans "All form fields are required." %}</p>#}
{#  <form id="passwd_form" action="{% url profile:admin:passwd profile.id %}">#}
{#  <table style="margin:15px;">#}
{#  <tr>#}
{#    <td>#}
{#    <label>{{ passwd_form.password1.label }}</label>#}
{#    </td>#}
{#    <td>#}
{#    {{ passwd_form.password1 }}#}
{#    </td>#}
{#  </tr>#}
{#    <tr>#}
{#    <td>#}
{#    <label>{{ passwd_form.password2.label }}</label>#}
{#    </td>#}
{#    <td>#}
{#    {{ passwd_form.password2 }}#}
{#    </td>#}
{#  </tr>#}
{#    <tr>#}
{#    <td>#}
{#    <label>{{ passwd_form.email_new_password.label }}</label>#}
{#    </td>#}
{#    <td>#}
{#    {{ passwd_form.email_new_password }}#}
{#    </td>#}
{#  </tr>#}
{#  </table>#}
{#  </form>#}
{#</div>#}
{##}
{#<a class="passwd" id="passwd" href="#">{% trans "Change password" %}</a> #}
{#<a class="passwd" id="resend_activation" href="#">{% trans "Resend activation" %}</a>#}
{#{% endif %}#}
{##}
{#<div class="expert_tabs">#}
{##}
{#<div id="info" title="{% trans "Profile info"%}">#}
{#  <form id="profile-info" action="{% url profile:admin:edit profile.id %}#info" method="post">{% csrf_token %}#}
{#    <div class="expert_form expert_profile-edit">#}
{#      <div class="expert_col-left">#}
{#	<ul class="expert_form-layout">#}
{#          #}
{#          <li class="expert_form-row expert_clearfix" id="usernamecontainer">#}
{#            <b>{{ form.username.label }}</b>           #}
{#            <div class="expert_person-info">{{ form.username.errors }}{{ form.username }}</div>#}
{#            {% if form.username.help_text %}<div>{{ form.username.help_text }}</div>{% endif %}#}
{#            <span style="color:red; font-weight:bold" id="usernameerrors"></span>#}
{#          </li>#}
{##}
{#          {% formfield "" form "email" "li-person-info" %}#}
{#	  {% formfield "" form "first_name" "li-person-info" %}#}
{#	  {% formfield "" form "second_name" "li-person-info" %}#}
{#	  {% formfield "" form "last_name" "li-person-info" %}#}
{#	</ul>#}
{#      </div>#}
{#      <div class="expert_col-right">#}
{#	<ul class="expert_form-layout">#}
{#	  <li class="expert_form-row">#}
{#	    <label for="">{% trans "date joined" %}</label>#}
{#	    <div class="expert_person-info">{{ profile.date_joined|date:"j M Y, H:i" }}</div>#}
{#	    <div class="expert_clr"></div>#}
{#	  </li>#}
{#	  <li class="expert_form-row">#}
{#	    <label for="">{% trans "last login" %}</label>#}
{#	    <div class="expert_person-info">{{ profile.last_login|date:"j M Y, H:i" }}</div>#}
{#	    <div class="expert_clr"></div>#}
{#	  </li>#}
{#          #}
{#	  {% formfield "" form "is_staff" "li-person-info" %}#}
{#	  {% formfield "" form "is_active" "li-person-info" %}#}
{#	  {% formfield "" form "is_banned" "li-person-info" %}#}
{#	  {% formfield "" form "accept_agreement" "li-person-info" %}#}
{#	  {% formfield "" form "obj_per_page" "li-person-info" %}#}
{#          #}
{#	</ul>#}
{#      </div>#}
{#      <div class="expert_clr"></div>#}
{#      <ul class="expert_form-layout">#}
{#	{% formfield "" form "groups" "li" %}#}
{#	{% formfield "" form "sites" "li" %}#}
{#	{% formfield "" form "user_permissions" "li" %}#}
{#      </ul>#}
{#    </div>#}
{#    {% if perms.extprofile.change_profile %}#}
{#    <div class="expert_filter" >#}
{#      <div class="expert_right-button"><input type="submit" value="{% trans "Save" %}"/></div>#}
{#      <div class="expert_clr"> </div>#}
{#    </div>#}
{#    {% endif %}#}
{#  </form>	  #}
{#  #}
{# </div>#}
{# <div id="services" title="{% trans "Services" %}">#}
{#   <h3>{% trans "Free services"%}</h3>#}
{#   <ul class="expert_service"> #}
{#     {% for service in services.free  %}<li>#}
{#       <h4 class="sub">{{ service.label }}</h4>#}
{#       <p class="desc">hjyljkghgkjhgjhgjktuythgki7yuitgjytukjyfyt{{ service.model.description }}</p>#}
{#       <div id="div-{{ forloop.count }}" class="collapsed_box">#}
{#	 #}
{#	 <form action="{# url service:admin:action service.id #}">#}
{#	   <div class="expert-service-form">{{ service.form }}</div>#}
{#	   #}
{#	   <div class="expert_filter"><input type="submit" value="{% trans "Save" %}"></div>#}
{#	   #}
{#	   #}
{#	 </form>#}
{#       </div>#}
{#       #}
{#     </li>{% endfor %}#}
{#   </ul>	#}
{# </div>#}
{# {% if perms.shop.view_pincodes %}#}
{# <div id="subscribe" title="{% trans "User's PIN codes" %}">#}
{#   {% url service:public:shop-basket profile.pk as basket_url %}#}
{#   {% generic_ssi basket_url %}#}
{# </div>#}
{# {% endif %}#}
{#</div>#}
{#{% endblock %}#}
{##}
