{% extends current_admin_base %}
{% load crispy_forms_tags %}
{% load spicy_theme navigator pagination %}

{% block title %}
    {% trans "All profiles" %}
{% endblock %}

{% block content %}

{% if objects_list.count > 0 %}
<div class="container-fluid padded">
    <div class="row-fluid">
        <div class="span12">

            <div class="box">
                <div class="box-header">
                    <span class="title">
                      {% trans "All profiles" %}
                    </span>
                </div>

                <div class="box-content">
                    <div class="table table-normal">

                      <div class="padded">
                          <label class="inline underdash">
                            {% if nav.last_login == 'month' %}
                              <a href="../">{% trans "All profiles" %}</a>
                            {% else %}
                              {% nav_filter _("Month last login") "last_login" "month" nav %}
                            {% endif %}
                          </label>

                          {% if is_staff != False %}
                            {{ form.group.label }}: {{ form.group }}
                          {% endif %}
                        </div>

                      <div class="hpadded">
                        <div class="pagination pagination-small" style="margin-top: 0">
                          {% pagination 'expert_page' 'expert_active' %}
                        </div>
                      </div>

                        <table class="table table-normal" style="border-top: 1px solid #CDCDCD;">
                            <thead>
                                <tr role="row">
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                      {% trans 'Username' %}
                                    </td>
                                    <td>
                                      {% trans 'Full name' %}
                                    </td>
                                    <td>
                                      {% trans 'Email' %}
                                    </td>
                                    <td>
                                      {% trans 'Sites' %}
                                    </td>
                                    <td>
                                      {% trans 'Last login' %}
                                    </td>
                                    <td>
                                      {% trans 'Date joined' %}
                                    </td>
                                    <td>
                                      {% trans 'Groups' %}
                                    </td>
                                    <td>
                                      {% trans 'Is Active' %}
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for profile in objects_list %}
                                  <tr>
                                  {# GROUP SELECT CHECKBOX #}
                                    <td class="icon">
                                        <input type="checkbox" name="select"  class="groupSelectCheckbox" id="groupSelect_profile_{{ profile.id }}" autocomplete="off" />
                                    </td>
                                  {# PROFILE NAME #}
                                    <td>
{#                                        {% if change_profile or view_profile %}#}
                                          <a href="{% url profile:admin:edit profile.id %}">{{ profile.username }}</a>
{#                                        {% else %}#}
{#                                          {{ profile.username }}#}
{#                                        {% endif %}#}
                                    </td>
                                  {# FULL NAME #}
                                    <td>
                                      {{ profile.fullname }}
                                    </td>
                                  {# EMAIL #}
                                    <td>
                                      {{ profile.email }}
                                    </td>
                                  {# SITES #}
                                    <td>
                                      {% for site in profile.sites.all %}
                                        <a href="http://{{ site.domain }}">{{ site.name }}</a>
                                        {% if not forloop.last %}, {% endif %}{% empty %}{% trans "No site" %}{% endfor %}
                                    </td>
                                  {# DATE JOINED #}
                                    <td>
                                      {{ profile.date_joined|date:"j M" }}
                                    </td>
                                  {# LAST LOGIN #}
                                    <td>
                                      {{ profile.last_login|date:"j M" }}
                                    </td>
                                  {# GROUPS #}
                                    <td>{% if profile.groups.all.count %}
                                          {% for group in profile.groups.all %}
                                          <div class="state blocked">
                                            <span class="icon i_{{ group.id }}" title="{{ group.name }}"><i>{{ group.name }}</i></span>
                                            <div class="alt" style="display: none;">
                                              <div class="shadow ui-corner-all">
                                                <div class="buble"></div>
                                                <p class="ui-corner-all">{{ group.name }}</p>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                      {% else %}{% trans "Has no group" %}{% endif %}
                                    </td>
                                  {# ACTIVE #}
                                    <td style="text-align: center;">
                                      {% if profile.is_active %}
                                          <i class="green icon-ok"></i>
                                        {% else %}
                                          <i class="icon-remove red"></i>
                                      {% endif %}
                                      </span>
                                    </td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{#                    <table>#}
{#                    {% for profile in objects_list %}#}
{#                        <tr>#}
{#                            <td class="little"><input type="checkbox" name="select"  class="groupSelectCheckbox" id="groupSelect_profile_{{ profile.id }}" autocomplete="off" /></td>#}
{#                            <td>{% if change_profile or view_profile %}<a href="{% url profile:admin:edit profile.id %}" >{{ profile.username }}</a>{% else %}{{ profile.username }}{% endif %}</td>#}
{#                            <td>{% if profile.is_active %}<span class="expert_icon expert_icone-done">{% else %}<span class="expert_icon expert_icone-stop">{% endif %}</span></td>#}
{#                            <td>{% if profile.groups.all.count %}#}
{#                  {% for group in profile.groups.all %}#}
{#                  <div class="state blocked">#}
{#                <span class="icon i_{{ group.id }}" title="{{ group.name }}"><i>{{ group.name }}</i></span>#}
{#                <div class="alt" style="display: none;">#}
{#                  <div class="shadow ui-corner-all">#}
{#                    <div class="buble"></div>#}
{#                    <p class="ui-corner-all">{{ group.name }}</p>#}
{#                  </div>#}
{#                </div>#}
{#                  </div>#}
{#                  {% endfor %}#}
{#                  {% else %}{% trans "Has no group" %}{% endif %}</td>#}
{#                            <td>{{ profile.date_joined|date:"j M" }}</td>#}
{#                            <td>{{ profile.last_login|date:"j M" }}</td>#}
{#                            <td>{% for site in profile.sites.all %}<a href="http://{{ site.domain }}">{{ site.name }}</a>{% if not forloop.last %}, {% endif %}{% empty %}{% trans "No site" %}{% endfor %}</td>#}
{#                            <td>{{ profile.email }}</td>#}
{#                            <td>{{ profile.fullname }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </table>#}



{#  <div class="container-fluid padded">#}
{#    <div class="row-fluid">#}
{#        <div class="span12">#}
{##}
{#            {% pagination 'foo' 'bar' %}#}
{##}
{#            <div class="box">#}
{#                <div class="box-header">#}
{#                    <span class="title">{% trans "All profiles" %}</span>#}
{#                </div>#}
{##}
{#                <div class="box-content">#}
{#                    <form class="fill-up validatable" method="get" action=".">#}
{#                        {% csrf_token %}#}
{#                        <div class="row-fluid">#}
{#                            <div class="padded separate-sections">#}
{#                                {{ form|crispy }}#}
{#                                <div class="controls">#}
{#                                    <button type="submit" class="btn btn-blue">{% trans "Search" %}</button>#}
{#                                </div>#}
{#                            </div>#}
{#                         </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#  </div>#}


{#{% extends current_admin_base %}{% load navigator pagination sk %}#}
{##}
{#{% block content %}#}
{#<form method="get">#}
{#  <div class="expert_filter">#}
{#    TODO: layout!#}
{#    {% if nav.last_login == 'month' %}#}
{#    <a href=".">{% trans "All profiles" %}</a>#}
{#    {% else %}#}
{#    {% nav_filter _("Month last login") "last_login" "month" nav %}#}
{#    {% endif %}#}
{#    {% if is_staff != False %}#}
{#    <div class="expert_filter-magaz">#}
{#      <label for="id_group">#}
{#        {{ form.group.label }}:#}
{#      </label>#}
{#      {{ form.group }}#}
{#    </div>#}
{#    {% endif %}#}
{#    <div class="search-area">#}
{#      {{ form.search_text }}#}
{#      <input type="submit" value="Найти" />#}
{##}
{#    </div>#}
{#    <div class="expert_clr"></div>#}
{#  </div>#}
{#</form>#}
{##}
{#    <div class="row">#}
{#        <form class="form-search" method="get">#}
{#        <input type="text" class="input-medium search-query">#}
{#        <button type="submit" class="btn">Search</button>#}
{#    </form>#}
{#    </div>#}



{#        <form >#}
{#            {{ request }}#}
{#        </form>#}
{#{% endblock content %}#}

{#{% extends current_admin_base %}#}
{#{% load navigator pagination sk %}#}

{#{% block extra_js %}#}
{#<script type="text/javascript">#}
{#$(function() {#}
{#    $('.state').hover(#}
{#        function(){$(this).find(".alt").show();},#}
{#        function(){$(this).find(".alt").hide();}#}
{#    );#}
{#);#}
{#function goto_url(url){#}
{#    document.location.href = url;#}
{# } #}
{#var urlDeleteObjList="{% url profile:admin:delete-profile-list %}";#}
{#</script>#}
{##}
{#{% endblock %}#}
{##}
{#{% block menu-profile %}#}
{#{% captureas profile_menu_tmpl %}{{ SITESKIN_ADMIN }}/profile/menu.html{% endcaptureas %}#}
{#{% include profile_menu_tmpl %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#{% with perms.extprofile.change_profile as change_profile %}#}
{#{% with perms.extprofile.view_profile as view_profile %}#}
{#{% with perms.extprofile.delete_profile as delete_profile %}#}


{#<form method="get">#}
{#  <div class="expert_filter">#}
{#    TODO: layout!#}
{#    {% if nav.last_login == 'month' %}#}
{#    <a href="../">{% trans "All profiles" %}</a>#}
{#    {% else %}#}
{#    {% nav_filter _("Month last login") "last_login" "month" nav %}#}
{#    {% endif %}#}
{#    {% if is_staff != False %}#}
{#    <div class="expert_filter-magaz">#}
{#      <label for="id_group">#}
{#        {{ form.group.label }}:#}
{#      </label>#}
{#      {{ form.group }}#}
{#    </div>#}
{#    {% endif %}#}
{#    <div class="search-area">#}
{#      {{ form.search_text }}#}
{#      <input type="submit" value="Найти" />#}
{##}
{#    </div>#}
{#    <div class="expert_clr"></div>#}
{#  </div>#}
{#</form>#}

{#<div class="expert_pager">#}
{#  {% pagination 'expert_page' 'expert_active'%}#}
{#  <div class="expert_clr"></div>#}
{#</div>#}

{#	<table class="list">#}
{#		<thead>#}
{#			<tr>#}
{#				<td class="little"><span class="groupSelectAll expert_choose-all expert_button" title="{% trans "Select all" %}"><span></td>#}
{#				<td><a href="{% nav_order_url 'username' nav %}" title="{% trans "Username" %}">#}
{#	{% trans "Username" %}{% nav_filter_icon 'username' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#				<td><a href="{% nav_order_url 'is_active' nav %}" title="{% trans "Is Active" %}">#}
{#	{% trans "Is Active" %}{% nav_filter_icon 'is_active' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#				<td><a href=""  title="{% trans "Permissions" %}"> {% trans "Permissions" %}</a></td>#}
{#				<td><a href="{% nav_order_url 'date_joined' nav %}" title="{% trans "Date joined" %}">#}
{#	{% trans "Date j." %}{% nav_filter_icon 'date_joined' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#				<td><a href="{% nav_order_url 'last_login' nav %}"  title="{% trans "Last login" %}">#}
{#	{% trans "Last l." %}{% nav_filter_icon 'last_login' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#				<td><a herf="" title="{% trans "Sites" %}">{% trans "Sites" %}</a></td>#}
{#				<td><a href="{% nav_order_url 'email' nav %}"  title="E-mail">#}
{#	E-mail{% nav_filter_icon 'email' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#				<td><a href="{% nav_order_url 'last_name first_name second_name' nav %}" title="{% trans "Full name" %}">#}
{#	{% trans "Full name" %}{% nav_filter_icon 'last_name first_name second_name' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></td>#}
{#			</tr>#}
{#		</thead>#}
{#		<tbody>#}
{#			{% for profile in objects_list %}#}
{#			<tr>#}
{#				<td class="little"><input type="checkbox" name="select"  class="groupSelectCheckbox" id="groupSelect_profile_{{ profile.id }}" autocomplete="off" /></td>#}
{#				<td>{% if change_profile or view_profile %}<a href="{% url profile:admin:edit profile.id %}" >{{ profile.username }}</a>{% else %}{{ profile.username }}{% endif %}</td>#}
{#				<td>{% if profile.is_active %}<span class="expert_icon expert_icone-done">{% else %}<span class="expert_icon expert_icone-stop">{% endif %}</span></td>#}
{#				<td>{% if profile.groups.all.count %}#}
{#      {% for group in profile.groups.all %}#}
{#      <div class="state blocked">#}
{#	<span class="icon i_{{ group.id }}" title="{{ group.name }}"><i>{{ group.name }}</i></span>#}
{#	<div class="alt" style="display: none;">#}
{#	  <div class="shadow ui-corner-all">#}
{#	    <div class="buble"></div>#}
{#	    <p class="ui-corner-all">{{ group.name }}</p>#}
{#	  </div>#}
{#	</div>#}
{#      </div>#}
{#      {% endfor %}#}
{#      {% else %}{% trans "Has no group" %}{% endif %}</td>#}
{#				<td>{{ profile.date_joined|date:"j M" }}</td>#}
{#				<td>{{ profile.last_login|date:"j M" }}</td>#}
{#				<td>{% for site in profile.sites.all %}<a href="http://{{ site.domain }}">{{ site.name }}</a>{% if not forloop.last %}, {% endif %}{% empty %}{% trans "No site" %}{% endfor %}</td>#}
{#				<td>{{ profile.email }}</td>#}
{#				<td>{{ profile.fullname }}</td>#}
{#			</tr>#}
{#			{% endfor %}#}
{#		</tbody>#}
{#	</table>#}
{#	{% if delete_profile %}#}
{#      <button onclick="deleteGroupObjects('profile',this);return(false);">{% trans "Delete" %}</button>#}
{#      {% endif %}#}



{#<!--<ul class="expert_data-list expert_profile-list" >#}
{#  <li class="expert_list-header">#}
{#    <div class="expert_first-col expert_col-icon-small">#}
{#      <span class="groupSelectAll expert_choose-all expert_button" title="{% trans "Select all" %}"><span></span></span>#}
{#    </div>#}
{#    <div class="expert_left-col"><a href="{% nav_order_url 'username' nav %}" title="{% trans "Username" %}">#}
{#	{% trans "Username" %}{% nav_filter_icon 'username' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{##}
{#    <div class="expert_last-col expert_col-icon"><a href="{% nav_order_url 'is_active' nav %}" title="{% trans "Is Active" %}">#}
{#	{% trans "Is Active" %}{% nav_filter_icon 'is_active' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{##}
{#    <div class="expert_width150"><a href=""  title="{% trans "Permissions" %}"> {% trans "Permissions" %}</a></div>#}
{##}
{#    <div><a href="{% nav_order_url 'date_joined' nav %}" title="{% trans "Date joined" %}">#}
{##}
{#	{% trans "Date j." %}{% nav_filter_icon 'date_joined' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{##}
{#    <div><a href="{% nav_order_url 'last_login' nav %}"  title="{% trans "Last login" %}">#}
{#	{% trans "Last l." %}{% nav_filter_icon 'last_login' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{##}
{#    <div class="expert_width350">#}
{#      <a herf="" title="{% trans "Sites" %}">{% trans "Sites" %}</a>#}
{#    </div>#}
{#    <div class="expert_width150"><a href="{% nav_order_url 'email' nav %}"  title="E-mail">#}
{#	E-mail{% nav_filter_icon 'email' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{#    <div class="expert_name"> <a href="{% nav_order_url 'last_name first_name second_name' nav %}" title="{% trans "Full name" %}">#}
{#	{% trans "Full name" %}{% nav_filter_icon 'last_name first_name second_name' nav "expert_icon expert_icon-darr" "expert_icon expert_icon-uarr" %}</a></div>#}
{#  </li>#}

{#  {% for profile in objects_list %}#}
{#  <li class="clickable {% cycle '' 'highlight' %}">#}
{#    <div class="expert_first-col expert_col-icon-small">#}
{#      <input type="checkbox"  class="groupSelectCheckbox" id="groupSelect_profile_{{ profile.id }}" autocomplete="off" />#}
{#    </div>#}
{#    <div class="expert_left-col">{% if change_profile or view_profile %}<a href="{% url profile:admin:edit profile.id %}" >{{ profile.username }}</a>{% else %}{{ profile.username }}{% endif %}</div>#}
{##}
{#    <div class="expert_last-col expert_col-icon">{% if profile.is_active %}<span class="expert_icon expert_icone-done">{% else %}<span class="expert_icon expert_icone-stop">{% endif %}</span></div>#}
{##}
{#    <div class="states expert_width150" >#}
{#      {% if profile.groups.all.count %}#}
{#      {% for group in profile.groups.all %}#}
{#      <div class="state blocked">#}
{#	<span class="icon i_{{ group.id }}" title="{{ group.name }}"><i>{{ group.name }}</i></span>#}
{#	<div class="alt">#}
{#	  <div class="shadow ui-corner-all">#}
{#	    <div class="buble"></div>#}
{#	    <p class="ui-corner-all">{{ group.name }}</p>#}
{#	  </div>#}
{#	</div>#}
{#      </div>#}
{#      {% endfor %}#}
{#      {% else %}{% trans "Has no group" %}{% endif %}#}
{#    </div>#}
{#    <div title="{{ profile.date_joined|date:"j M Y" }}">{{ profile.date_joined|date:"j M" }}</div>#}
{#    <div title="{{ profile.last_login|date:"j M Y" }}">{{ profile.last_login|date:"j M" }}</div>#}
{#    <div class="expert_width350">{% for site in profile.sites.all %}<a href="http://{{ site.domain }}">{{ site.name }}</a>{% if not forloop.last %}, {% endif %}{% empty %}{% trans "No site" %}{% endfor %}</div>#}
{#    <div class="expert_width150" title="{{ profile.email }}">{{ profile.email }}</div>#}
{#    <div class="expert_name">{{ profile.fullname }}</div>#}
{#  </li>#}
{#  {% endfor %}#}
{#</ul>-->#}


{#<div class="expert_pager">#}
{#  {% pagination 'expert_page' 'expert_active'%}#}
{#  <div class="expert_clr"></div>#}
{#</div>#}

{#{% endwith %}#}
{#{% endwith %}#}
{#{% endwith %}#}
{#{% endblock %}#}
