{% load url from future %}
{% if request.user.is_staff %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'spicy.core.admin/css/controls.css' %}">
<script>
$(function(){
  $(".admin-control").each( function(i, val){
    var tmp = val.id.split('_');
    if (tmp[0] && tmp[1]) {
      cid = tmp[0], pid = tmp[1];

      var url;
     
      {% if perms.contentblocks.change_contentblock %}url = "{% url 'contentblocks:admin:edit' 0 %}";{% endif %}

      {% if perms.presscenter.change_document %}if (pid == 'doc') {
         url = "{% url 'presscenter:admin:edit' 0 %}";
      }{% endif %}

      {% if perms.profile.change_profile %}if (pid == 'profile') {
         url = "{% url 'profile:admin:edit' 0 %}";
      }{% endif %}

      {% if perms.simplepages.change_defaultsimplepage %}if (pid == 'simplepage') {
         url = "{% url 'simplepages:admin:edit' 0 %}";
      }{% endif %}

{% comment %}
      {% if perms.xtag.change_tag %}if(pid=='xtagvoc') {url = "{% url 'xtag:admin:index' %}?vocabulary=";}
          if(pid=='tag') {url = "{% url 'xtag:admin:edit' 0 %}";}{% endif %}
{% endcomment %}

      if (url)
          $(this).prepend(
              "<a href='" + url.replace(0,cid) +
              "' class='edit' title='{% trans "Edit" %}'><i></i></a>");
    };
  });
});
</script>
{% endif %}
