{% load sk staticfiles %}{% load url from future %}
{% if request.user.is_staff %}

<link rel="stylesheet" href="{% static 'spicy.core.admin/css/public.admin.css' %}">
<script>
$(function(){
  $(".spicy-admin").each( function(i, val){
    var tmp = val.id.split('_');
    if (tmp[0] && tmp[1]) {
      cid = tmp[0], app = tmp[1];
            
      var url;

if (!app.length) {
    console.log('Invalid APP name')
}

{% for app in ADMIN_APPS %}
{% if app.name == 'comments' %}
else if (app == 'comment') {
   url = "{% url 'comments:admin:comments-edit' 0 %}";
}
else if (app == 'topic') {
   url = "{% url 'comments:admin:topics-edit' 0 %}";
}
else if (app == 'thread') {
   url = "{% url 'comments:admin:threads-edit' 0 %}";
}
{% endif %}     
{% endfor %}

{% for app in ADMIN_APPS %}
{% if app.edit_url %}{#% if app.perms.view %#}
else if (app == '{{ app.name }}'){
   url = "{{ app.edit_url }}";
}{#% endif %#}
{% endif %}

{% endfor %}

      if (url)
          $(this).prepend(
              "<a href='" + url.replace(0, cid) +
              "' class='edit' target='blank' title='{% trans "Edit" %} "+app+".id="+cid+"'><i></i></a>");
    };
  });
});
</script>
{% endif %}
