{% extends current_admin_base %}{% load navigator pagination %}{% load url from future %}

{% block title %}{% trans "Trash" %}{% endblock %}
{% block status_title %}<i class="icon-trash"></i> {% trans "All deleted objects" %}{% endblock status_title %}

{% block content %}


{% if objects_list.count > 0 %}

<div class="container-fluid padded">
  <div class="row-fluid">
    <div class="span12">
      
      <div class="box">
        <div class="box-header">
          <span class="title">
	    {# TODO datetime filter #}
	    {% nav_filter_url nav "date_deleted" "month" _("Month last login") %}
	  </span>
	</div>
	
        <div class="box-content">
          <div class="row-fluid">	    
            <div class="span8">
              <form class="fill-up">
                <div class="padded separate-sections">
                  <div class="span3">
                    {{ form.search_text }}
                  </div>
                  <div class="span3">
                    {{ form.consumer_type }}
                  </div>
                  <div class="span2">
                    <button type="submit" class="btn btn-blue">{% trans 'Search' %}</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="span4 padded">
              <div class="hpadded">
                <div class="pagination pagination-centered pagination-small" style="margin-  top: 0">
                  {% pagination %}
                </div>
              </div>
            </div>
          </div>
        </div>

            <table class="table table-normal" style="border-top: 1px solid #CDCDCD;">
              <thead>
                <tr role="row">
                  <td>
                    &nbsp;
                  </td>
		  <td>{% trans "Description" %}</td>
                  <td>{% nav_order_url nav 'consumer_type' _('Consumer type') "icon-sort" "icon-sort-down" "icon-sort-up" %}</td>
                  <td>{% nav_order_url nav 'user' _('Removed by') "icon-sort" "icon-sort-down" "icon-sort-up" %}</td>
		  <td>{% nav_order_url nav 'date_deleted' _('Date deleted') "icon-sort" "icon-sort-down" "icon-sort-up" %}</td>
		  <td>{% trans "Restore" %}</td>
                </tr>
              </thead>

              <tbody>
                {% for obj in objects_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                  <td class="icon">
                    <input type="checkbox" name="select"  class="groupSelectCheckbox" id="groupSelect_profile_{{ profile.id }}" autocomplete="off" />
                  </td>
                  <td>
		    {{ obj.obj }}
                  </td>
                  <td>{{ obj.consumer_type.name }} | {{ obj.consumer_type.app_label }}</td>
		  <td><a href="">{{ obj.user }}</td>
                  <td>{{ obj.date_deleted }}</td>
                  <td>
		    <a href="{% url 'trash:admin:restore' obj.pk %}">{% trans "Restore" %}</a>
                  </td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>

	    <div class="table-footer">
	      <div class="hpadded" style="margin-top: 5px;">
		<div class="pagination pagination-small" style="margin-top: 0">
		  {% pagination %}
		</div>
	      </div>
	    </div>
	    
	  </div>
	</div>
	
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
