<!doctype html>{% load staticfiles spicy_admin sk i18n %}{% load url from future %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <script src="{% static 'spicy.core.admin/js/jquery-1.10.1.min.js' %}" type="text/javascript"></script>
    {# <script src="{% static 'spicy.core.admin/js/jquery-1.9.1.min.js' %}" type="text/javascript"></script> #}

    <link href="{% static 'spicy.core.admin/themes/default/stylesheets/application.css' %}" media="screen" rel="stylesheet" type="text/css">  
    <script src="{% static 'spicy.core.admin/themes/default/javascripts/application.js' %}" type="text/javascript"></script>
    
    {% block extra_head %}{% endblock %}
    
    <!--[if lt IE 9]>
	<script src="{% static 'spicy.core.admin/themes/default/javascripts/vendor/html5shiv.js' %}" type="text/javascript"></script>
	<script src="{% static 'spicy.core.admin/themes/default/javascripts/vendor/excanvas.js' %}" type="text/javascript"></script>
	<![endif]-->
    
    <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
    {% block extra_css %}{% endblock extra_css %}
    {% block extra_js %}{% endblock extra_js %}

    
    <title>{% block title %}{% trans "Administrator interface" %}{% endblock %} - SpicyCMS light</title>
  </head>

  <body>
    {% captureas admin_index %}{% url 'spicyadmin:public:index' %}{% endcaptureas %}
    {% block top_navbar %}{% include 'spicy.core.admin/admin/top_navbar.html' %}{% endblock top_navbar %}
	
    {% block menu %}
    <div class="sidebar-background">
      <div class="primary-sidebar-background"></div>
    </div>
    
    <div class="primary-sidebar">
      <ul class="nav nav-collapse collapse nav-collapse-primary">
	
        <li class="{% if request.path == admin_index %}active{% endif %}">
          <span class="glow"></span>
          <a href="{{ admin_index }}">
            <i class="icon-dashboard icon-2x"></i>
            <span>{% trans 'Dashboard' %}</span>
          </a>
        </li>	
	{% for app in ADMIN_APPS %}{% app_menu request app %}{% endfor %}	
      </ul>
    </div>
    {% endblock %}
    
    <div class="{% block content-class %}main-content{% endblock %}">
      {% block status_board %}
      
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="area-top clearfix">
	    <div class="pull-left header">
              <h3 class="title">
		{% block status_title %}{% endblock status_title %}
              </h3>
              <h5>{% block status_subtitle %}Description here...{% endblock status_subtitle %}</h5>
	    </div>
	    
	    {% block status_stats %}
	    <ul class="inline pull-right sparkline-box">
	      
              <li class="sparkline-row">
		<h4 class="blue"><span>Orders</span> 847</h4>
		<div class="sparkline big" data-color="blue"><canvas width="82" height="30" style="display: inline-block; width: 82px; height: 30px; vertical-align: top;"></canvas></div>
              </li>
	      
              <li class="sparkline-row">
		<h4 class="green"><span>Reviews</span> 223</h4>
		<div class="sparkline big" data-color="green"><canvas width="82" height="30" style="display: inline-block; width: 82px; height: 30px; vertical-align: top;"></canvas></div>
              </li>
	      
              <li class="sparkline-row">
		<h4 class="red"><span>New visits</span> 7930</h4>
		<div class="sparkline big"><canvas width="82" height="30" style="display: inline-block; width: 82px; height: 30px; vertical-align: top;"></canvas></div>
              </li>	
	    </ul>
	    {% endblock status_stats %}

	  </div>
	</div>
      </div>
      
      {% endblock status_board %}
      
      {% if message %}
      <div class="container-fluid hpadded">
	<div class="row-fluid">
	  <div class="alert alert-success">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong>{{ message }}</strong>
	  </div>
	</div>
      </div>
      {% endif %}      

      {% block content %}{% endblock content %}
    </div>
    
  </body>
</html>
