{% load i18n staticfiles spicy spicy_theme %}
{# DASHBOARD TOP NAVBAR #}
<div class="navbar navbar-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            {# DASHBOARD TITLE #}
            <a class="brand" href="/" title="{% trans 'Перейти на сайт' %} {{ current_site.domain }}">
                {{ current_site.name }}
            </a>

            {# CONTROLS #}
            <div class="nav-collapse nav-collapse-top">

{#                <ul class="nav pull-right">#}
{#                    <li class="toggle-primary-sidebar hidden-desktop"#}
{#                        data-toggle="collapse"#}
{#                        data-target=".nav-collapse-primary"><a><i#}
{#                            class="icon-th-list"></i></a></li>#}
{##}
{#                    <li class="collapsed hidden-desktop" data-toggle="collapse"#}
{#                        data-target=".nav-collapse-top"><a><i#}
{#                            class="icon-align-justify"></i></a></li>#}
{#                </ul>#}

                {# USER #}
                <ul class="nav full pull-right">
                    <li class="dropdown user-avatar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                <span>{{ request.user.username }} <i class="icon-caret-down"></i></span>
                            </span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="with-image">
                                <span>{{ request.user.username }}</span>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="{% url profile:admin:edit request.user.id %}">
                                    <i class="icon-user"></i>
                                    <span>{% trans "Profile" %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                {# SEARCH INPUT #}
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query animated" placeholder="{% trans "Search" %}">
                    <i class="icon-search"></i>
                </form>

                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans 'Create' %} <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            {% if "spicy.core.profile"|is_installed %}
                                <li>
                                    <a href="{% url profile:admin:create %}">
                                        {% trans 'User' %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if "spicy.presscenter"|is_installed %}
                                <li>
                                    <a href="{% url presscenter:admin:create %}">
                                        {% trans 'Document' %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if "spicy.categories"|is_installed %}
                                <li>
                                    <a href="{% url categories:admin:add %}">
                                        {% trans 'Category' %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if "spicy.mediacenter"|is_installed %}
                                <li>
                                    <a href="{% url mediacenter:admin:create %}">
                                        {% trans 'Media' %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if "flatpagesplus"|is_installed %}
                                <li>
                                    <a href="{% url flatpagesplus:admin:create %}">
                                        {% trans 'Page' %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
