<li class="input {{ classes }}" {% if id %}id="{{ id }}"{% endif %}>
  {{ label }}
  <div class="closable-chat-box">
    <div class="chat-message-box">
      <textarea name="{{ field.html_name }}" placeholder="{{ title }}" rows="6" id="id_{{ field.html_name }}">{{ field.value|default_if_none:'' }}</textarea>
    </div>
  </div>
  {% if field.errors %}<span class="help-block note error"><i class="icon-warning-sign"></i>{{ field.errors.as_text }}</span>{% endif %}
  {% if field.help_text %}
  <div class="note pull-right">{{ field.help_text }}</div>
  {% endif %}
</li>
